# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
app/src/zkproof/*.ptau
app/src/zkproof/*.ptau
app/src/zkproof/*.r1cs.json
app/src/zkproof/challenge_phase* 
app/src/zkproof/response_phase* 
app/src/zkproof/*.wtns
app/src/zkproof/challenge*
app/src/zkproof/response*

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
